/* ushers styles*/
body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow: auto;
	overflow-x: hidden
}

.page {
	min-height: 100%;
	position: relative;
}

.header {
	background: #dbdbdb; /* Old browsers */
	background: -moz-linear-gradient(top, #dbdbdb 0%, #dbdbdb 5%, #dedede 6%, #dedede
		11%, #e0e0e0 12%, #e0e0e0 18%, #e2e2e2 18%, #e2e2e2 24%, #e8e8e8 29%,
		#e8e8e8 37%, #efefef 43%, #efefef 48%, #f1f1f1 49%, #f1f1f1 54%,
		#f3f3f3 55%, #f3f3f3 60%, #f5f5f5 61%, #f5f5f5 68%, #f9f9f9 72%,
		#f9f9f9 79%, #fbfbfb 79%, #ffffff 96%, #fffbfb 97%, #fff2f3 98%,
		#a56d6e 98%, #a66e6f 99%, #ffeeef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbdbdb),
		color-stop(5%, #dbdbdb), color-stop(6%, #dedede),
		color-stop(11%, #dedede), color-stop(12%, #e0e0e0),
		color-stop(18%, #e0e0e0), color-stop(18%, #e2e2e2),
		color-stop(24%, #e2e2e2), color-stop(29%, #e8e8e8),
		color-stop(37%, #e8e8e8), color-stop(43%, #efefef),
		color-stop(48%, #efefef), color-stop(49%, #f1f1f1),
		color-stop(54%, #f1f1f1), color-stop(55%, #f3f3f3),
		color-stop(60%, #f3f3f3), color-stop(61%, #f5f5f5),
		color-stop(68%, #f5f5f5), color-stop(72%, #f9f9f9),
		color-stop(79%, #f9f9f9), color-stop(79%, #fbfbfb),
		color-stop(96%, #ffffff), color-stop(97%, #fffbfb),
		color-stop(98%, #fff2f3), color-stop(98%, #a56d6e),
		color-stop(99%, #a66e6f), color-stop(100%, #ffeeef));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dbdbdb 0%, #dbdbdb 5%, #dedede 6%, #dedede
		11%, #e0e0e0 12%, #e0e0e0 18%, #e2e2e2 18%, #e2e2e2 24%, #e8e8e8 29%,
		#e8e8e8 37%, #efefef 43%, #efefef 48%, #f1f1f1 49%, #f1f1f1 54%,
		#f3f3f3 55%, #f3f3f3 60%, #f5f5f5 61%, #f5f5f5 68%, #f9f9f9 72%,
		#f9f9f9 79%, #fbfbfb 79%, #ffffff 96%, #fffbfb 97%, #fff2f3 98%,
		#a56d6e 98%, #a66e6f 99%, #ffeeef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dbdbdb 0%, #dbdbdb 5%, #dedede 6%, #dedede 11%,
		#e0e0e0 12%, #e0e0e0 18%, #e2e2e2 18%, #e2e2e2 24%, #e8e8e8 29%,
		#e8e8e8 37%, #efefef 43%, #efefef 48%, #f1f1f1 49%, #f1f1f1 54%,
		#f3f3f3 55%, #f3f3f3 60%, #f5f5f5 61%, #f5f5f5 68%, #f9f9f9 72%,
		#f9f9f9 79%, #fbfbfb 79%, #ffffff 96%, #fffbfb 97%, #fff2f3 98%,
		#a56d6e 98%, #a66e6f 99%, #ffeeef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #dbdbdb 0%, #dbdbdb 5%, #dedede 6%, #dedede 11%
		, #e0e0e0 12%, #e0e0e0 18%, #e2e2e2 18%, #e2e2e2 24%, #e8e8e8 29%,
		#e8e8e8 37%, #efefef 43%, #efefef 48%, #f1f1f1 49%, #f1f1f1 54%,
		#f3f3f3 55%, #f3f3f3 60%, #f5f5f5 61%, #f5f5f5 68%, #f9f9f9 72%,
		#f9f9f9 79%, #fbfbfb 79%, #ffffff 96%, #fffbfb 97%, #fff2f3 98%,
		#a56d6e 98%, #a66e6f 99%, #ffeeef 100%); /* IE10+ */
	background: linear-gradient(to bottom, #dbdbdb 0%, #dbdbdb 5%, #dedede 6%, #dedede
		11%, #e0e0e0 12%, #e0e0e0 18%, #e2e2e2 18%, #e2e2e2 24%, #e8e8e8 29%,
		#e8e8e8 37%, #efefef 43%, #efefef 48%, #f1f1f1 49%, #f1f1f1 54%,
		#f3f3f3 55%, #f3f3f3 60%, #f5f5f5 61%, #f5f5f5 68%, #f9f9f9 72%,
		#f9f9f9 79%, #fbfbfb 79%, #ffffff 96%, #fffbfb 97%, #fff2f3 98%,
		#a56d6e 98%, #a66e6f 99%, #ffeeef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb',
		endColorstr='#ffeeef', GradientType=0); /* IE6-9 */
	padding: 10px;
	width: 100%;
	height: 100px;
	position: relative;
}

.header img {
	position: absolute;
}

.header img:nth-of-type(1) {
	left: 25%;
	bottom: 0;
}

.header img:nth-of-type(2) {
	right: 25%;
	bottom: 50px;
}

.content {
	padding: 10px;
	padding-bottom: 20px; /* Height of the footer element */
	overflow: hidden;
}

.menu {
	padding: 50px 10px 0px 0px;
	width: 200px;
	float: right;
	text-align: right;
}

.body {
	margin: 20px 10px 250px 0px;
	float: right;
	text-align: right;
}

.body-login {
	width: 350px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	float: center;
	text-align: center;
}

.footer {
	clear: both;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	width: 100%;
	height: 20px;
}

.error {
	width: 250px;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.validationError {
	color: #ff0000;
}

.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
/*table css*/
.CSSTableGenerator {
	margin: 0px;
	padding: 0px;
	width: 100%;
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid #000000;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

.CSSTableGenerator table {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.CSSTableGenerator th{
	background-color: #9FA39B;
	font-size: 16px;
	border-width: 1px 1px 1px 1px;
	text-color: #ffffff;
}

.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}

.CSSTableGenerator tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.CSSTableGenerator tr:hover td {
	
}

.CSSTableGenerator tr:nth-child(odd) {
	background-color: #ffffff;
}

.CSSTableGenerator tr:nth-child(even) {
	background-color: #e5e5e5;
}

.CSSTableGenerator td {
	vertical-align: middle;
	border: 1px solid #000000;
	border-width: 0px 1px 1px 0px;
	text-align: right;
	padding: 7px;
	font-size: 12px;
	font-family: arial;
	font-weight: normal;
	color: #000000;
}

.CSSTableGenerator tr:last-child td {
	border-width: 0px 1px 0px 0px;
}

.CSSTableGenerator tr td:last-child {
	border-width: 0px 0px 1px 0px;
}

.CSSTableGenerator tr:last-child td:last-child {
	border-width: 0px 0px 0px 0px;
}



.CSSTableGenerator tr:first-child td:first-child {
	border-width: 0px 0px 1px 0px;
}

.CSSTableGenerator tr:first-child td:last-child {
	border-width: 0px 0px 1px 1px;
}

/* Button class */
.btn {
  background: #e6e6e6;
  background-image: -webkit-linear-gradient(top, #e6e6e6, #c1c5c7);
  background-image: -moz-linear-gradient(top, #e6e6e6, #c1c5c7);
  background-image: -ms-linear-gradient(top, #e6e6e6, #c1c5c7);
  background-image: -o-linear-gradient(top, #e6e6e6, #c1c5c7);
  background-image: linear-gradient(to bottom, #e6e6e6, #c1c5c7);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #0e0f0f;
  font-size: 20px;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #9c9d9e;
  background-image: -webkit-linear-gradient(top, #9c9d9e, #4f6370);
  background-image: -moz-linear-gradient(top, #9c9d9e, #4f6370);
  background-image: -ms-linear-gradient(top, #9c9d9e, #4f6370);
  background-image: -o-linear-gradient(top, #9c9d9e, #4f6370);
  background-image: linear-gradient(to bottom, #9c9d9e, #4f6370);
  text-decoration: none;
}

/**Usher profile table**/
.usher {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
/* Column widths are based on these cells */
.row-id {
  width: 30%;
}
.row-value {
  width: 70%;
}
.usher td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.usher td{
  text-align: right;
  padding: 5px 10px;
}
.usher tr:nth-child(even) {
  background: #E9E6F0;
}
.usher tr:nth-child(odd) {
  background: #D9D0F2;
}
/*div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}*/
/*end table css*/